/* ------------------------------------------------------ */
/* || ------- START "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" -------- */
/* ------------------------------------------------------ */
.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: var(--uni-margin-big);
  white-space: nowrap;
}

.portfolio-filters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-top: calc(-1 * 0.9375rem);
  margin-left: calc(-1 * 0.5rem);
}

.portfolio-filter-list-item {
  margin-top: 0.9375rem; /* Верхний отступ между фильтрами-кнопками */
  margin-left: 0.5rem; /* Левый отступ между фильтрами-кнопками */
}

/* START "Фильтры-Кнопки" - Все, Веб-сайты, Приложения, Дизайн, Маркетинг */

/* Вторичная кнопка по наведению: текст белый, фон - акцент, + тень (динамическая) */
.current-btn,
.btn--secondary:hover,
.btn--secondary:focus {
  color: var(--color-white);
  background-color: var(--color-accent); /* Акцент #2196F3 */
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
  /* Динамическая тень по наведению - shadow-middle */
  /* Тень активной кнопки (статическая) - shadow-middle */
}

.current-btn:focus,
.current-btn:hover {
  background-color: var(--color-bg-hero-btn);
}

/* END "Фильтры-Кнопки" */

/* ------------------------------------------------------ */
/* || ------- END "ПОРТФОЛИО - ФИЛЬТРЫ-КНОПКИ" ---------- */
/* ------------------------------------------------------ */
