/* Position, Block model, Typography, Visual, Other */

/* .project-stats-languages {
  --homework-name: "hw-06";
  --date: "2021-Jul-05 15:04";
  --CSS: 40.5%;
  --HTML: 58.1%;
  --JavaScript: 1.4%;
  --file-lines-css: 1608;
} */

/* ------------------------------------------------------ */
/* || -------------- START "SITE TESTING" --------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* || --------------- END "SITE TESTING" ---------------- */
/* ------------------------------------------------------ */
